{% extends '@!SonataAdmin/standard_layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('admin') }}

    {# CKEDITOR FORMATTER #}
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/skins/sonata/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/markdown/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/html/style.css') }}" type="text/css" media="all" />
    <link rel="stylesheet" href="{{ asset('bundles/sonataformatter/markitup/sets/textile/style.css') }}" type="text/css" media="all" />
    
    {# CUSTOM CSS #}
    <style>{{ helper.config.customCSS | raw }}</style>

    {# DONATE ANIMATION #}
    <style>
        @keyframes headShake {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }

        6.5% {
            -webkit-transform: translateX(-6px) rotateY(-9deg);
            transform: translateX(-6px) rotateY(-9deg);
        }

        18.5% {
            -webkit-transform: translateX(5px) rotateY(7deg);
            transform: translateX(5px) rotateY(7deg);
        }

        31.5% {
            -webkit-transform: translateX(-3px) rotateY(-5deg);
            transform: translateX(-3px) rotateY(-5deg);
        }

        43.5% {
            -webkit-transform: translateX(2px) rotateY(3deg);
            transform: translateX(2px) rotateY(3deg);
        }

        50% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        }
        .sonata-admin-home-page .donate-animation {
            animation-timing-function: ease-in-out;
            animation-name: headShake;
            animation-duration: 2s;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('admin') }}

    {# CKEDITOR FORMATTER #}
    <script src="//cdn.ckeditor.com/4.7.3/full/ckeditor.js"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/javascripts-translations-admin.js?ver=' ~ version) }}"></script>
    <script>gogoLocale = "{{ helper.config.locale }}"</script>

    <script>
    // bootstrap-ckeditor-modal-fix.js
    // hack to fix ckeditor/bootstrap compatiability bug when ckeditor appears in a bootstrap modal dialog
    // Include this AFTER both bootstrap and ckeditor are loaded.
    $.fn.modal.Constructor.prototype.enforceFocus = function() {
      modal_this = this;
      console.log("enforce focus");
      $(document).on('focusin.modal', function (e) {
        if (modal_this.$element[0] !== e.target && !modal_this.$element.has(e.target).length
        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_select')
        && !$(e.target.parentNode).hasClass('cke_dialog_ui_input_text')) {
          modal_this.$element.focus()
        }
      })
    };    

    // DISABLE SAAS MENU UNLESS FOR ROOT PROJECT IN SAAS MODE
    {% if not use_as_saas or not is_root_project() %}
        $(document).ready(function() {
            $('.saas-menu').closest('.treeview').hide();
        })
    {% else %}
        $(document).ready(function() {
            $('.my-project-menu').closest('.treeview').hide();
        })
    {% endif %}
    // Helpers
    var formBuilder;
    var formBuilderInitialized = false;
    
    // CUSTOM JS    
    window.onload = function() {
        try {
            {{ helper.config.customJavascript | raw }}
            //DONATE animation
            if (window.location.pathname === '/admin/dashboard') {
                document.querySelector("body").classList.add('sonata-admin-home-page');
            }
        } catch (error) {
            console.log('error in customJS', error);
        }
    }
    </script>

{% endblock %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
            <img src="{{ asset('img/gogo-bot.png') }}">
            <span>{{ 'dashboard._label'|trans }}</span>
            {% set newMsgsCount = new_msgs_count() %}
            {% if newMsgsCount > 0 %}
                <label class="label label-info" style="margin-left: 6px">
                    <i class="fa fa-bell" style="margin-right: 3px;"></i>
                    {{ 'dashboard.messages'|trans({'%count%': newMsgsCount}) }}
                </label>
            {% endif %}
            {% set newErrorsCount = errors_count() %}
            {% if newErrorsCount > 0 %}
                <label class="label label-danger" style="margin-left: 6px">
                    <i class="fa fa-warning" style="margin-right: 3px;"></i>
                    {{ 'dashboard.errors'|trans({'%count%': newErrorsCount}) }}
                </label>
            {% endif %}

        </a>
    {% endspaceless %}
{% endblock %}

{% block sonata_sidebar_search %}
    <div class="btn-group side-bar-links">
      <a type="button" href={{ path('gogo_homepage') }} target='_blank' class="btn btn-primary">{{ 'dashboard.sidebar.gogo_homepage'|trans }}</a>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href={{ path('gogo_directory') }} target='_blank'>{{ 'dashboard.sidebar.gogo_directory'|trans }}</a></li>
        <li><a href={{ path('gogo_element_add') }} target='_blank'>{{ 'dashboard.sidebar.gogo_element_add'|trans }}</a></li>
        <li><a href={{ path('gogo_partners') }} target='_blank'>{{ 'dashboard.sidebar.gogo_partners'|trans }}</a></li>
        {% if use_as_saas_private %}
            <li><a href={{ path('gogo_saas_home') }} target='_blank'>{{ 'dashboard.sidebar.gogo_saas_home'|trans }}</a></li>
        {% endif %}
      </ul>
    </div>
{% endblock %}

{% block side_bar_after_nav %}
    {# CUSTOM Menu #}
    <ul class="sidebar-menu">
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_SUPER_ADMIN") %}
            <li class="first treeview">
                <a href="{{ path('gogo_bulk_actions_index') }}"><i class="fa fa-bullhorn"></i><span>{{ 'bulk._label'|trans }}</span></a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('gogo_core_help') }}"><i class="fa fa-question"></i><span>{{ 'help._label'|trans }}</span></a>
        </li>
        {% if not is_root_project() %}
            <li class="donate-animation">
                <a style="padding:0 14px; margin-left:-4px;" href="https://doc.gogocarto.fr/?FaireUnDon" target="_blank">
                    <button class="btn btn-sm btn-danger">
                        <div><i class="fa fa-heart"></i></div>
                        <div style="white-space:wrap; text-align:center; font-size:16px">{{ 'dashboard.menu.donate'|trans|raw }}</div>
                    </button>
                </a>
            </li>
            
        {% endif %}
    </ul>
{% endblock %}

{% block sonata_admin_content_actions_wrappers %}
    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
        <ul class="nav navbar-nav navbar-right">
            {{ _actions|raw }}
        </ul>
    {% endif %}
{% endblock sonata_admin_content_actions_wrappers %}

