{% extends 'admin/pages/page_layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block page_title %}
    {{ 'my_project.backup_and_restore._label'|trans() }}
{% endblock %}

{% block sonata_admin_content %}
    {% for type, messages in app.session.flashBag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ parent() }}
{% endblock %}


{% block page_content %}

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">{{ 'my_project.backup_and_restore.backup._label'|trans }}</h4>
            </div>
            <div class="box-body">
                <div class="project-infos">
                    <div>{{ 'my_project.backup_and_restore.backup.database_size'|trans }} :</div>
                    <strong>{{ databaseSize }}</strong>
                </div>
                <div class="project-infos">
                    <div>{{ 'my_project.backup_and_restore.backup.uploads_size'|trans }} :</div>
                    <strong>{{ uploadsSize }}</strong>
                </div>
                <div class="project-infos total">
                    <div>{{ 'my_project.backup_and_restore.backup.total_size'|trans }} :</div>
                    <strong>{{ totalSize }}</strong>
                </div>
                <a 
                    id="backup-button"
                    class="btn btn-primary"
                    href="{{ path('gogo_my_project_backup') }}"
                    onclick="handleBackupButtonClick()"
                >
                    {{ 'my_project.backup_and_restore.backup.button_label'|trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title">{{ 'my_project.backup_and_restore.restore._label'|trans }}</h4>
            </div>
            <div class="box-body">
                <div class="restore-explanations">
                    {{ 'my_project.backup_and_restore.restore.explanations'|trans()|raw }}
                </div>
                {{ form_start(restoreForm) }}
                    {{ form_row(restoreForm.backupFile) }}
                    <button id="restore-button" class="btn btn-primary" onclick="handleRestoreButtonClick()">
                        {{ 'my_project.backup_and_restore.restore.button_label'|trans }}
                    </button>
                {{ form_end(restoreForm) }}

            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
  {{ parent() }}
    <style>
        .project-infos {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            line-height: 200%;
        }
        .project-infos.total {
            border-top: 1px solid #eee;
            margin-top: .5rem;
            padding-top: .5rem;
        }
        #backup-button {
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 100%;
        }
        .restore-explanations {
            font-weight: bold;
            color: #dd4b39;
            margin-bottom: 2rem;
        }
        #restore-button {
            pointer-events: none;
            transition: opacity 0s;
            opacity: 0;
            width: 100%;
        }
        label[for="mongo_restore_backupFile"]:after {
            display: none;
        }
        #restore-button.visible {
            pointer-events: unset;
            transition: opacity .25s;
            margin-top: 1rem;
            margin-bottom: 2rem;
            opacity: 1;
        }
        label[for="mongo_restore_backupFile"] + ul li {
            color: #d9534f;
        }
    </style>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var fileInput = document.querySelector('#mongo_restore_backupFile');
            var actionButton = document.querySelector('#restore-button');

            fileInput.addEventListener('change', function () {
                if (fileInput.files.length > 0) {
                    actionButton.classList.add("visible")
                    console.log('visible');
                } else {
                    actionButton.classList.remove("visible")
                    console.log('not visible');
                }
            });
        });

        function handleBackupButtonClick() {
            var actionButton = document.querySelector('#backup-button');
            const section = document.querySelector('section.content');
            const alerts = section.querySelectorAll('div.alert');
            alerts.forEach(alert => { alert.remove(); })
            const div = document.createElement('div');
            div.classList.add('alert', 'alert-success');
            div.textContent = "{{ 'my_project.backup_succeed'|trans({}, 'messages') }}";
            setTimeout(() => { section.insertBefore(div, section.firstChild); }, 2000);
        }

        function handleRestoreButtonClick() {
            return confirm("{{ 'my_project.backup_and_restore.restore.confirm'|trans }}");
        }
    </script>
{% endblock %}