{% extends 'admin/pages/page_layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block page_title %}
  {{ 'my_project.delete._label'|trans() }}
{% endblock %}

{% block page_content %}
    {% if use_as_saas and is_granted("ROLE_SUPER_ADMIN") and not is_root_project() %}
        <div>
            <a href="{{ path('gogo_project_delete_my_project') }}" onclick="return confirm('{{ 'my_project.delete.confirm'|trans }}')">
                <button class="btn btn-danger"><i class="fa fa-trash"></i><span>{{ 'my_project.delete.button'|trans() }}</span></button>
            </a>
        </div>
    {% endif %}
{% endblock %}
