{% trans_default_domain 'admin' %}

{% set user = form.vars.sonata_admin.admin.subject %}

{% set dataCustomProperties = attr.findDataCustomProperties|default([]) %}
{% set elementFormFields = helper.config.getElementFormFields %}
{% for field in elementFormFields %}
  {% if field.type in ['area', 'elements'] %}
    {% set dataCustomProperties = dataCustomProperties|filter(dataCustomProperty => dataCustomProperty != field.name) %}
  {% endif %}
{% endfor %}

<div class="watch-only-with-field-values-container loading">

  <div class="watch-only-with-field-values-spinner"><i class="loading-icon fa fa-spinner fa-spin"></i></div>

  <div class="watch-only-with-field-values-message">{{ 'sonata.user.user.form.error'|trans }}</div>

  <div class="watch-only-with-field-values-inner-container">

    <div class="input-container field-select-container">
      <select id="field-select">
        <option value="">{{ 'sonata.user.user.form.selectAField'|trans }}</option>
        {% for dataCustomProperty in dataCustomProperties %}
            <option value="{{ dataCustomProperty }}">{{ dataCustomProperty }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-container value-select-container">
      <select id="value-select"></select>
    </div>

    <div class="field-value-select-container">
      <label for="field-value-select">{{ 'sonata.user.user.form.selectedValues'|trans }}</label>
      <select id="field-value-select" name="selected_values[]" multiple></select>
    </div>

    <input type='hidden' id="{{ form.vars.id }}" name="{{ form.vars.full_name }}" value="{{ form.vars.value }}" />

  </div>

</div>

<script>
  const watchOnlyWithFieldValuesApp = {
    
    load: () => {

      const $mainContainer = $('.watch-only-with-field-values-container');
      const $fieldSelect = $('#field-select');
      const $valueSelect = $('#value-select');
      const $valueSelectContainer = $('.value-select-container');
      const $fieldValueSelect = $('#field-value-select');
      const $fieldValueSelectContainer = $('.field-value-select-container');
      const $formField = $('#{{ form.vars.id }}');
      const jsonFormField = $formField.val() ? JSON.parse($formField.val()) : null;

      selectedItems = jsonFormField ?? [];

      const dataCustomProperties = {{ dataCustomProperties|values|json_encode|raw }};
      let valuesByField = [];

      fetch('{{ path('gogo_api_elements_index') }}')
        .then(response => response.json())
        .then(data => {
          const elements = data.data;

          // Helper function to process in chunks
          const processChunks = (elements, chunkSize = 200) => {
            let index = 0;

            // Function to process the next chunk
            const processNextChunk = () => {
              const chunk = elements.slice(index, index + chunkSize);
              chunk.forEach(element => {
                Object.keys(element).forEach((key) => {
                  if (dataCustomProperties.includes(key)) {
                    [].concat(element[key]).forEach(value => {
                      if (!valuesByField[key]) {
                        valuesByField[key] = [];
                      }
                      if (!valuesByField[key].includes(value)) {
                        valuesByField[key].push(value.toString());
                      }
                    });
                  }
                });
              });

              index += chunkSize;

              // If there are more chunks, process the next one
              if (index < elements.length) {
                setTimeout(processNextChunk, 0); // Process next chunk asynchronously
              } else {
                // All chunks are processed, update UI
                $mainContainer.removeClass('loading');
                $mainContainer.addClass('loaded');
              }
            };

            // Start processing the first chunk
            processNextChunk();
          };

          // Start processing data in chunks
          processChunks(elements);
        })
        .catch(error => {
          console.error('Error fetching data:', error);
          $mainContainer.removeClass('loading');
          $mainContainer.addClass('error');
        });

      const setSelectedItems = (fieldName, value) => {
        if (fieldName && value) {
          selectedItems.push({'field': fieldName, 'value': value});
          $formField.val(JSON.stringify(selectedItems));
        }
      }

      const getSelectedItems = (field) => {
        return selectedItems
          .filter(item => item.field === field)
          .map(item => item.value);
      }

      const removeFromSelectedItems = (itemToRemove) => {
        selectedItems = selectedItems.filter(item => {
          const splited = itemToRemove.split('↣');
          return item.field !== splited[0] || item.value.replaceAll(/"/g, '\\"') !== splited[1];
        });
        $formField.val(JSON.stringify(selectedItems));
      }

      const hightlightLastAdded = () => {
        $fieldValueSelectContainer.addClass('highlight');
        setTimeout(() => $fieldValueSelectContainer.removeClass('highlight'), 500);
      }

      const addOptionToFieldValueSelect = (fieldName, value, animate=true) => {
        if (fieldName && value) {
          let newOptionValue = fieldName + '↣' + value;
          let newOptionLabel = newOptionValue. replace('↣', ' ↣ ');
          newOptionValue = newOptionValue.replaceAll(/"/g, '\\"');
          let newOption = new Option(newOptionLabel, newOptionValue, true, true);
          $fieldValueSelect.append(newOption);
          $fieldValueSelect.trigger('change');
          if (animate) {
            hightlightLastAdded();
          }
        }
        $fieldValueSelectContainer.show();
      }

      const refreshValues = () => {
        setTimeout(() => {
          var fieldName = $fieldSelect.val();
          if (fieldName) {
            $valueSelect.empty()
            const values = valuesByField[fieldName].sort();
            const filteredValues = values.filter(value => value && !getSelectedItems(fieldName).includes(value.toString()));
            if (filteredValues.length === 0) {
              $valueSelect.append('<option value="">{{ 'sonata.user.user.form.noValue'|trans }}</option>');
            } else {
              $valueSelect.append('<option value="">{{ 'sonata.user.user.form.selectAValue'|trans }}</option>');
              filteredValues.forEach(function(value) {
                var option = new Option(value, value, false, false);
                $valueSelect.append(option);
              });
            }
            $valueSelect.trigger('change');
          }
        }, 10);
      }

      $fieldSelect.on('change', function() {
        refreshValues();
        if ($fieldSelect.val()) {
          $valueSelectContainer.show();
        } else {
          $valueSelectContainer.hide();
        }
      });

      $valueSelect.on('change', function() {
        const fieldName = $fieldSelect.val();
        const value = $(this).val();
        addOptionToFieldValueSelect(fieldName, value);
        setSelectedItems(fieldName, value);
      });

      $fieldValueSelect.on('change', function(e) {
        if (e.removed) {
          $fieldValueSelect.find('option[value="' + e.removed.id + '"]').remove();
          removeFromSelectedItems(e.removed.id);
        }
        refreshValues();
      });

      $fieldSelect.val(null).trigger('change');
      $valueSelect.val(null).trigger('change');
      $fieldValueSelect.val([]).trigger('change');
      $fieldValueSelectContainer.hide();
      selectedItems.forEach(selectedItem => {
        addOptionToFieldValueSelect(selectedItem.field, selectedItem.value, false);
      })
    },
  }
  $(document).ready(watchOnlyWithFieldValuesApp.load);
</script>

<style>
  .watch-only-with-field-values-container {
    margin-left: 2rem;
  }
  .watch-only-with-field-values-container .input-container {
    margin-bottom: 1rem;
  }
  .watch-only-with-field-values-container .select2-choices {
    pointer-events: none;
  }
  .watch-only-with-field-values-container .select2-search-choice-close {
    pointer-events: auto;
  }
  .watch-only-with-field-values-container .field-value-select-container .select2-search-choice:nth-last-child(2) {
    transition: transform .25s; 
  }
  .watch-only-with-field-values-container .field-value-select-container.highlight .select2-search-choice:nth-last-child(2) {
    transform: scale(1.15);
  }
  .watch-only-with-field-values-container.loading .watch-only-with-field-values-spinner,
  .watch-only-with-field-values-container.error .watch-only-with-field-values-message,
  .watch-only-with-field-values-container.loaded .watch-only-with-field-values-inner-container {
    display: block;
  }
  .watch-only-with-field-values-container:not(.loading) .watch-only-with-field-values-spinner,
  .watch-only-with-field-values-container:not(.error) .watch-only-with-field-values-message,
  .watch-only-with-field-values-container:not(.loaded) .watch-only-with-field-values-inner-container {
    display: none;
  }
  .watch-only-with-field-values-container.error .watch-only-with-field-values-message {
    color: #dd4b39;
  }
</style>
