@import "admin/taxonomy";

.save-overlay {
    display: none;
    z-index: 500;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: #222c32b8;
    &.show {
        display: block;
    }
}
.save-overlay-content {
    position: absolute;
    top: 40%; left: 0; right: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.save-overlay .loading-icon {
    font-size: 35px;
}

.thumbnail {
    width: 100px;
    display: inline-block;
    margin-right: 10px;
}

#element-import .source-type {
    margin-bottom: 20px;
}

.side-bar-links {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.side-bar-links > a { color:white !important; }
.side-bar-links .dropdown-menu>li>a {
    color: #777;
}

.bs-callout {
    position: relative;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: white;
}

.bs-callout-primary { border-left-color: #3c8dbc; }
.bs-callout-danger { border-left-color: #ce4844; }
.bs-callout-success { border-left-color: #00a65a; }
.bs-callout-warning { border-left-color: #f39c12; }

.btn i { margin-right: 6px; }
.btn i + i { margin-left: -4px; }

.markItUpHeader ul li {
    padding-right: 5px;
    padding-bottom: 5px;
}

.markItUpHeader ul .markItUpSeparator
{
    background-color: white;
    color: transparent;
    border-right: 1px solid #b9b9b9;
    margin: 0 15px 0 5px;
}

.markItUpEditor {
    font-size: 15px;
    padding: 10px;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.markItUpButton4, .markItUpButton5, .markItUpButton6, .markItUpButton12 + .markItUpSeparator, .markItUpButton13, .markItUpButton14 { display: none; }

.box-body > .alert:last-child { margin-bottom: 0 }

label[title]:hover {
    cursor: help;
}
label[title]:after {
    content: "(?)";
    font-weight: normal;
    font-size: 13px;
    margin-left: 5px;
}
.box-body .iframe-container { text-align: center; margin-top: -20px; }
.box-body .iframe-container-aside {
    float: left;
    margin: -20px 20px 20px 0;
}
.text-and-iframe-container:before { display: table; content: " "; }
.text-and-iframe-container:after { clear: both; display: table; content: " ";}

.main-header { display: flex; }
.main-header .logo {
    width: auto;
    display: inline-flex;
    align-items: center;
}
.main-header .logo label:hover { cursor: pointer; }
.main-header .navbar { flex: auto; margin-left: 0; }

pre {
  font-size: 11px;
  line-height: 13px;
  text-align: left;
}

.sonata-ba-view-container th {
    border-top: none !important;
    vertical-align: middle !important;
    text-transform: capitalize;
}
.sonata-ba-view-container td {
    border-top: none !important;
}

.form-control {
    height: 30px;
    padding: 3px 12px;
}
.select2-container .select2-choice {
    height: 30px;
}
.select2-choice>span:first-child, .select2-chosen, .select2-container .select2-choices .select2-search-field input {
    padding: 5px 12px;
}
.input-group-btn .btn {
    padding: 4px 12px;
}

.sonata-collection-row {
    .form-group, .help-block { margin-bottom: 0; }
    
}

span.label + span {
    margin-left: 5px;
}
.element-data-fields td b {
    opacity: .85;
}

.sonata-ba-field input[type=range] {
    display: block;
    width: 100%;
    border: none;
    background: #cccccc;
    outline: none;
    height: 4px;
    padding: 0;
    margin: 10px 0;
}

.mongo-association-field .field-container {
    display: flex;
    align-items: center;
    > :first-child { flex: 1 auto; }
    .field-actions { margin: 0; }
    .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .select2-choice {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.subscription-mail .box-body .sonata-ba-field-inline-natural .sonata-ba-field:first-child {
    display: none;
}

.clear-row {
    clear: both;
}

.modal {
    .cke_editor_mail-content {
        margin-bottom: 2.5rem;
    }
    .modal-field-container.modal-field-container--checkbox {
        display: flex;
        flex-direction: row-reverse;
        label {
            margin-left: 8px;
            margin-bottom: 2rem;
        }
    }
    #mail-draft-help-icon {
        color: #3c8dbc;
        position: absolute;
        right: 15px;
        font-size: 22px;
        cursor: pointer;
    }
    #mail-draft-help-container {
        border-top: 1px solid #e5e5e5;
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        transition: all 1s;
        &.visible {
            max-height: 600px;
            opacity: 1;
        }
        #mail-draft-help {
            margin-top: -5px;
            margin-bottom: 15px;
            padding-top: 15px;
        }
    }
    #mail-draft-error {
        margin-right: 15px;
        color: #dd4b39;
    }
}



.dropdown.sonata-actions.open ul.dropdown-menu {
	max-height: 60vh;
    overflow-y: scroll;
}
.dropdown.sonata-actions.open ul.dropdown-menu li .sonata-toggle-filter.sonata-ba-action[filter-target$=createdAt] {
	border-bottom: 1px solid rgba(119, 119, 119, .5); // #777
    padding-bottom: 8px;
    margin-bottom: 8px;
}
.sonata-filters-box {
    .checkbox-field-filter label {
        margin-right: 12px;
        position: relative;
        top: 6px;
    }
    .date-field-filter {
        display: flex;
        .select2-container {
            margin-right: 4px;
        }
    }
    .datetime-field-filter {
        & > div {
            display: flex;
            margin-right: 4px;
            &:nth-child(2) {
                justify-content: center;
                margin-top: 2px;
                font-size: 0px;
                &:before {
                    margin-right: 4px;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    font-family: "FontAwesome";
                    content: "\f017";
                    font-size: 20px;
                    color: rgba(119, 119, 119, .5);
                }
                div {
                    width: 35% !important;
                }
                .select2-choice {
                    font-size: 14px
                }
            }
        }
        .select2-container {
            margin-right: 4px;
        }
    }
}
.form-group[id*=idsToIgnore] .select2-container {
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-group-clearall-idstoignore {
    float:right;
    margin-bottom: 10px
}

// trick to make the 2 panels side by side
@media (min-width: 1200px) {
    .col-lg-6.refresh-needed-panel {
        width: calc(50% + 1px);
    }
    .col-lg-6.refresh-much-needed-panel {
        width: calc(50% - 1px);
    }
}

// hide This CKEditor 4.7.3 version is not secure.
.cke_notifications_area {
    display: none;
}
