{% extends admin.getTemplate('base_list_field') %}

{% set toolTip = ""%}

{% if object.createdAt %}
  {% set toolTip = toolTip ~ "Créé le " ~ object.createdAt|date('d/m/Y à H:i') %}
  {% if object.createdBy and object.createdBy.getUserName %}
    {% set toolTip = toolTip ~ " par " ~ object.createdBy.getUserName %}
  {% endif %}
{% endif %}

{% if object.updatedAt %}
  {% if toolTip != "" %}
    {% set toolTip = toolTip ~ ", \n" %}
  {% endif %}
  {% set toolTip = toolTip ~ "Modifié le " ~ object.updatedAt|date('d/m/Y à H:i') %}
  {% if object.updatedBy and object.updatedBy.getUserName %}
    {% set toolTip = toolTip ~ " par " ~ object.updatedBy.getUserName %}
  {% endif %}
{% endif %}

{% if toolTip != "" %}
  {% set toolTip = toolTip ~ "." %}
{% endif %}

{% block field %}
<span class="source-name" title="{{ toolTip }}">{{ value }}</span>
{% endblock %}