{% if elementsOwned|length > 0 %}
  <h2>{{ 'my_contributions.my_elements'|trans }}</h2>
  <table class="bordered contributions-table elements-owned">
    <thead>
      <tr>
          <th class="element">{{ 'my_contributions.element'|trans }}</th>
          <th class="status">{{ 'my_contributions.status'|trans }}</th>
          <th class="action">{{ 'my_contributions.action'|trans }}</th>
      </tr>
    </thead>
    <tbody>
      {% for element in elementsOwned %}
          <tr>
            <td>
              <a href="{{ path('gogo_directory_showElement', {'id': element.id, 'name': element.name}) | replace({"%23":'#'}) }}">{{ element.name }}</a>
            </td>
            <td>{{ ('elements.fields.status_choices.' ~ element.status)|trans({}, 'admin') }}</td>
            <td class="btn-container">
              {% if element.isValid() or element.isPending() %}
                <a href="{{ path('gogo_element_edit', {'id': element.id, 'hash': element.randomHash}) }}">
                  <button class="btn-gogo btn-secondary small waves-light waves-effect btn">{{ 'my_contributions.edit'|trans }}</button>
                </a>
                <a href="#" class="btn-delete" onclick="openDeleteConfModal('{{ element.id }}', '{{ element.name|e('js') }}')" title="{{ 'my_contributions.delete'|trans }}"><i class="gogo-icon-delete"></i></a>
              {% endif %}
              <span class="icons">{% include "admin/partials/icon_element_refresh_needed.html.twig" with {'element': element} %}</span>
            </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>

  {% set config = helper.config %}
  {% set elDisplayName = config.elementDisplayNameDefinite %}

  <!-- Modal Structure -->
  <div id="delete-element-confirmation-modal" class="modal">
    <div class="modal-content">
      <h4>{{ 'my_contributions.delete'|trans }}</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" id="delete-element-confirmation-btn" class="modal-action modal-close waves-effect waves-green btn btn-primary">{{ 'my_contributions.confirmation_button'|trans }}</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" style="color: inherit;">{{ 'my_contributions.confirmation_cancel'|trans }}</a>
    </div>
  </div>

  <script>
    function openDeleteConfModal(id, name) {
      var url = "{{ path('gogo_user_delete_owned_element', {'id' : 'ID'}) }}";
      var elementUrl = url.replace('ID', id);
      var modalTitle = $('#delete-element-confirmation-modal h4').text() + ' <span style="font-style:italic">' + name + '<span>';
      $('#delete-element-confirmation-btn').attr('href', elementUrl);
      $('#delete-element-confirmation-modal h4').html(modalTitle);
      $('#delete-element-confirmation-modal').openModal();
    }
  </script>  

{% endif %}