/*
* @Author: Sebastian Castro
* @Date:   2018-02-11 12:03:45
* @Last Modified by:   Sebastian Castro
* @Last Modified time: 2018-03-19 16:09:33
*/
#page-content.user-contributions
{
  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  } 

  th.action {
    width:7rem;
    //padding-left: 1.3rem;
  }

  th.date   { width:7rem; }
  th.type   { width:5rem; }
  th.status { width:12rem; }
  th.owner  { width:7rem; }
  th.small-status  { width:7rem; }
  th.vote  { width:10rem; }
  th.report  { width:12rem; }

  .empty-secton-message {
    text-align: center;
  }

  #become-owner-confirmation-modal,
  #delete-element-confirmation-modal {
    .modal-footer {
      padding: 4px 20px;
      height: 60px;
    }
  }
}
     