{% trans_default_domain 'admin' %}
{{ form_start(form, {'id': 'formElement', 'attr': {'class':config.elementFormKeepData ? 'keep-data' : ''}}) }}

<fieldset {{ editMode == 'edit' and not element.isFullyEditable and not element.isModifiedPendingVersion ? 'disabled' : ''}}>

<div id="element-form-content" class="{{ editMode ? 'edit' : 'new' }} {{ isOwner ? 'by-owner' : ''}} {{ isAllowedDirectModeration ? 'by-admin' : '' }}"
     data-element-id="{{ element.id }}">

	<section>
		{% include "element-form/form-renderer.html.twig" %}
	</section>

	{% include "element-form/form-partials/validate-and-send.html.twig" %}

</fieldset>

</form>

{% block modals %}
	<!-- Pop up alert message-->
	<div id="popup" class="modal">
	<div class="modal-content">
	  <h5 id="modal-title"></h5>
	  <p id="popup-content"></p>
	</div>
	<div class="modal-footer">
		<span class="modal-action modal-close waves-effect waves-teal btn-flat">OK</span>
	</div>
	</div>
{% endblock %}



