
{% set config = helper.config %}

{% set isMultiple = field.multiple is defined %}

{% set geocodingBoundsType = config.getGeocodingBoundsType %}
{% if geocodingBoundsType == 'defaultView' %}
    {% set geocodingBounds = config.getDefaultBounds %}
{% elseif geocodingBoundsType == 'viewPicker' %}
  {% set geocodingBounds = config.getGeocodingBounds %}
{% elseif geocodingBoundsType == 'countryCodes' %}
  {% set geocodingBoundsByCountryCodes = config.geocodingBoundsByCountryCodes|lower %}
{% endif %}

<div class="input-field select-input select-area-input {{ field.required|default(false) ? 'required' : '' }}">
  {% set icon = field.icon|default('fas fa-square') %}
  <i class="material-icons {{ icon }} prefix"></i>

  <div class="select-wrapper">
    <select class="select2 select2-area" id="select-{{field.name}}" {% if isMultiple %}multiple="multiple"{% endif %}>
      {% for value, name in elementValue %}
        <option value="{{value}}" selected="selected">{{ name }}</option>
      {% endfor %}
    </select>
    <input type="hidden" name="data-json[{{ field.name }}]" class="select-encoded-result" />
  </div>

  {% set errorMsg = fields.errorMsg|default('commons.choose_one_option'|trans) %}

  {% if field.label is defined and field.label != "undefined" %}
    <label>
      <span class="to-html">{{ field.label|raw }}</span>
      {% if field.required|default(false) %}<span class="mandatory-asterisk"></span>{% endif %}
      <span class="error">{{ errorMsg }}</span>
    </label>
  {% endif %}
</div>

{% if not isMultiple %}

  <style>
  .gogo-load-css #select2-select-{{field.name}}-container {
    position: absolute;
    top: 10px
  }
  .gogo-load-css #select2-select-{{field.name}}-container[title] {
    padding-left: 16px !important;
    top: 3px;
  }
  .gogo-load-css #select2-select-{{field.name}}-container .select2-selection__clear {
    position: absolute;
    left: 0px;
  }
  </style>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function(event) {

    const selectAreaSelector = '#select-{{ field.name }}';

    {% if isMultiple %}
      // Fix for select2 issue https://github.com/select2/select2/issues/3354
      setTimeout(() => {
        const select2Input = document.querySelector('#field-{{ field.name }} .select2-search__field');
        const observer = new MutationObserver(mutationsList => {
          if (select2Input.value.startsWith('{')) {
            select2Input.value = '';
          }
        });
        observer.observe(select2Input, { attributes: true });
      }, 1000);
    {% endif %}

    const placeholder = '{{ field.placeholder is defined ? field.placeholder|raw|striptags : ""}}'
    const spinnerHTML = '<i class="loading-icon fa fa-spinner fa-spin"></i>';

    $(selectAreaSelector).select2({
      minimumInputLength: 3,
      language: {
        inputTooShort:  () => "{{ 'commons.enter_more_characters'|trans({nb:3}) }}",
        noResults:      () => "{{ 'commons.no_results'|trans }}",
        searching:      () => spinnerHTML
      },
      escapeMarkup: (markup) => {
        // Regular expression to match any HTML tag
        const htmlTagRegex = /<[^\/>][^>]*>/g;
        if (markup === spinnerHTML || (markup.prop && !markup.prop('outerHTML').match(htmlTagRegex).some(tag => !tag.includes('<div')))) {
          return markup;
        } else {
          // Sanitize markup if not spinner or contains other html tags than div
          let tmp = document.createElement("DIV");
          tmp.innerHTML = markup;
          return tmp.textContent || tmp.innerText || "";
        }
      },
      placeholder: placeholder,
      {% if not isMultiple %} allowClear: true, {% endif %}

      templateResult: areaFilterApp.select2AreaTemplateResult('{{ field.name }}'),
      templateSelection: areaFilterApp.select2AreaTemplateSelection('{{ field.name }}', placeholder),
      ajax: areaFilterApp.ajax(
        '{{ field.name }}',
        {{ geocodingBounds is defined ? geocodingBounds|json_encode|raw : 'null' }},
        '{{ geocodingBoundsByCountryCodes is defined ? geocodingBoundsByCountryCodes : null }}'
      )
    });
  });
</script>
