
{% set isMultiple = field.multiple is defined %}
{% set freeEntry = field.freeEntry is defined and field.freeEntry == true %}

{% set allValues = [] %}
{% if freeEntry %}
  {% for value in helper.getAllValuesFromField(field.name) %}
    {% set allValues = allValues | merge({ (value): value }) %}
  {% endfor %}
{% else %}
  {% for value in field.values %}
    {% set allValues = allValues | merge({ (value.value): value.label }) %}
  {% endfor %}
{% endif %}

<div class="input-field select-input autocomplete-input {{ field.required|default(false) ? 'required' : '' }}">
  {% set icon = field.icon|default('fas fa-comment-dots') %}
  <i class="material-icons {{ icon }} prefix"></i>

  <div id="select-wrapper-{{ field.name }}" class="select-wrapper">
    <select class="select2" id="select-{{ field.name }}" {% if isMultiple %}multiple="multiple"{% endif %}>
      {% for key, label in allValues %}
        <option value="{{ key }}">{{ label }}</option>
      {% endfor %}
    </select>
    <input type="hidden" id="hidden-{{ field.name }}" name="data-json[{{ field.name }}]" />
  </div>

  {% set errorMsg = fields.errorMsg|default('commons.choose_one_option'|trans) %}

  {% if field.label is defined and field.label != "undefined" %}
    <label for="select-{{ field.name }}">
      <span class="to-html">{{ field.label|raw }}</span>
      {% if field.required|default(false) %}
        <span class="mandatory-asterisk"></span>
      {% endif %}
      <span class="error">{{ errorMsg }}</span>
    </label>
  {% endif %}

  {% if freeEntry %}
    <div id="free-entry-container-{{ field.name }}" style="display:none" class="btn-add-new-value-container">
      <button type="button" id="free-entry-add_button-{{ field.name }}" class="btn-add-new-value btn btn-secondary waves-effect waves-light">
        {{ 'element.form.add_new_value'|trans }}
      </button>
    </div>
  {% endif %}
</div>

{% if not isMultiple %}
  <style>
    .gogo-load-css #select2-select-{{field.name}}-container[title] {
      position: relative;
      padding-left: 16px !important;
    }
    .gogo-load-css #select2-select-{{field.name}}-container .select2-selection__clear {
      position: absolute;
      left: 0px;
    }
    .gogo-load-css #select2-select-{{field.name}}-container {
      display: none;
    }
  </style>
{% else %}
  <style>
    .gogo-load-css #page-content.element-form .field-container div.select-wrapper#select-wrapper-{{field.name}} li.select2-search input.select2-search__field {
      border-color: transparent !important;
      box-shadow: none !important;
    }
  </style>
{% endif %}

<script>
  document.addEventListener("DOMContentLoaded", function(event) {

    const selectElement = $('#select-{{ field.name }}');

    const placeholder = '{{ field.placeholder is defined ? field.placeholder|raw|striptags : ""}}'
    selectElement.select2({
      minimumInputLength: 3,
      language: {
        inputTooShort: () => {
          $('#free-entry-container-{{ field.name }}').hide();
          return "{{ 'commons.enter_more_characters'|trans({nb:3}) }}";
        },
        noResults: () => {
          $('#free-entry-container-{{ field.name }}').show();
          return "{{ 'commons.no_results'|trans }}";
        }
      },
      placeholder: '{{ field.placeholder|default(field.label)|raw }}',
      {% if not isMultiple %} allowClear: true, {% endif %}
    });

    {% if freeEntry %}
      selectElement.on('select2:open', function() {
        $input = $('#free-entry-container-{{ field.name }}');
        $('.select2-results').append($input);
      });

      $('#free-entry-add_button-{{ field.name }}').on('click', function() {
        const newValue = $('.select2-search__field').filter(function() {
          return $(this).val();
        }).val().trim();
        if (newValue) {
          let exists = false;
          selectElement.find('option').each(function() {
              if ($(this).val() === newValue) {
                  exists = true;
                  return false;
              }
          });
          if (!exists) {
            const newOption = new Option(newValue, newValue, true, true);
            selectElement.append(newOption).trigger('change');
            $('#free-entry-{{ field.name }}').val('');
          }
        }
        selectElement.select2('close');
      });
    {% endif %}

    selectElement.on('change', function() {
        var selectedValues = $(this).val();
        $('#hidden-{{ field.name }}').val(JSON.stringify(selectedValues));
    });

    var existingData = {{ element.getCustomProperty(field.name)|json_encode|raw }};
    if (existingData) {
      $('#select-{{ field.name }}').val(existingData);
    } else {
      $('#select-{{ field.name }}').val('[]');
    }
    $('#select2-select-{{field.name}}-container').show();
  });
</script>
