{% trans_default_domain 'admin' %}

{% extends 'admin/core_custom/base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
      .watch-settings {
        display: block;
        margin-top: -0.5rem;
        margin-left: 3rem;
        overflow: hidden;
        max-height: 0px;
        opacity: 0;
        transition: max-height .5s, opacity .5s;
      }
      .watch-settings.visible {
        margin-top: unset;
        max-height: 200px;
        opacity: 1;
      }
    </style>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
  jQuery(document).ready(function($){
    $watch  = $('.watch');
    $watchSettings = $('.watch-settings');
    $watch.on('ifChecked ifUnchecked', function(e, aux){
        if( $watch.prop('checked') ){
          $watchSettings.addClass('visible');
        }else{
          $watchSettings.removeClass('visible');
        }
    });        
  });
</script>
{% endblock %}